# List

- sequential (ordered)
- mixed datatype
- can be empty
- can have duplicates
- mutable
- [ ] in python
- list function creates a list

what are you going to learn ?

- creation
- indexing and slicing
- methods
- comprehension

In [4]:
lst1 = [23,54,78,54]
lst2 = ['Harsh','Yash','Himanshu','Abhiraj']
lst3 = ['Harsh',23,'Yash',54]
lst4 = [[1,2,3],[4,5,6]]
lst5 = [1]*10

In [5]:
print(lst1)
print(lst2)
print(lst3)
print(lst4)
print(lst5)

[23, 54, 78, 54]
['Harsh', 'Yash', 'Himanshu', 'Abhiraj']
['Harsh', 23, 'Yash', 54]
[[1, 2, 3], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
for i in lst3:
    print(i,end = " ")

Harsh 23 Yash 54

In [7]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [9]:
charlist[0]

'w'

In [10]:
charlist[:4]

['w', 'i', 'k', 'i']

In [11]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [14]:
charlist.reverse()

In [15]:
print(charlist)

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

list has 11 methods

- adding items
  - append()
  - insert()
  - extend()
- removing items
  - remove()
  - pop()
  - clear()
- utility
  - reverse()
  - count()
  - index()
  - copy()
  - sort()

In [16]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [21]:
print(numbers)

[2, 3, 5, 10, 9, 7, 4]

In [22]:
numbers.insert(2,14)

In [23]:
print(numbers)

[2, 3, 14, 5, 10, 9, 7, 4]

In [24]:
numbers.insert(4,12)
print(numbers)

[2, 3, 14, 5, 12, 10, 9, 7, 4]

In [25]:
numbers.insert(23,32)
print(numbers)

[2, 3, 14, 5, 12, 10, 9, 7, 4, 32]

In [26]:
numbers.pop(2)
print(numbers)

[2, 3, 5, 12, 10, 9, 7, 4, 32]

In [27]:
numbers.pop()
print(numbers)

[2, 3, 5, 12, 10, 9, 7, 4]

In [28]:
x = [1,2,3]
y = [4,5,6]
# merge a list into another
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6]

In [29]:
z = x+y
print(z)

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [30]:
del a

In [32]:
primes = []
for i in range(2, 1000):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

WAP to calculate the total of a list, where the values are entered by user.

In [1]:
n = int(input("Enter the range : "))
lst = []
for i in range(n):
    x = int(input("Enter number : "))
    lst.append(x)
total = sum(lst)
print(total)

35

WAP to remove every 3 item from a list.

In [10]:
lst1 = [55,87,56,98,54,88]
for j in range(3):
    n = int(input("Enter item to be removed : "))
    lst1.remove(n)

print(lst1)

[55, 87, 98]

WAP to add every 3 item from a list and store the result at the end of list.

In [9]:
lst2 = [111,222,333,444,555]
for k in range(3):
    n = int(input("Enter item to be added : "))
    lst2.append(n)

print(lst2)

[111, 222, 333, 444, 555, 666, 777, 888]