In [1]:
11 + 45

56

In [2]:
20+30*3-382

-272

In [3]:
10//3

3

In [4]:
111/3

37.0

In [6]:
10%3

1

In [7]:
x = 100
x//=10
x

10

In [8]:
x = 5
x += 5
x

10

In [9]:
x = 114
x*=2
x

228

In [10]:
x = 5
x**=2
x

25

In [11]:
x = 5
x == 5
x

5

In [12]:
x == 5

True

In [13]:
x != 6

True

In [14]:
x <= 4

False

In [15]:
x<6 and x>4

True

In [16]:
not (x<6 and x>4)

False

In [17]:
x == 5

True

In [18]:
x = [1,2,3]
y = x

In [19]:
x is y

True

In [20]:
z = x.copy()

In [21]:
x is z

False

In [22]:
colors = ['Red', 'Green', 'Blue']

In [23]:
'Red' in colors

True

In [24]:
'Pink' in colors

False

In [25]:
a = input('Oh Great')

In [26]:
a = input()

In [28]:
a

'Oh Great'

In [29]:
name = input('enter the name : ')
age = input('enter your age : ')
school = input('enter your school name : ')

In [30]:
name

'Harsh'

In [31]:
age

'21'

In [32]:
school

'SRMCEM'

In [33]:
type(age)

str

In [34]:
age = int(age)

In [35]:
type(age)

int

In [39]:
radius = input('Enter Radius of circle')
radius = float(radius)
area = 3.14 * radius ** 2

In [38]:
area

754.385

In [40]:
area

754.385

In [41]:
p = int(input('Enter principle : '))
r = int(input('Enter rate : '))
t = int(input('Enter time : '))
si = (p*r*t)/100

In [42]:
si

100.0

In [1]:
x = '10001'
y = '54444'
x + y

'1000154444'

In [2]:
x = int(x)
y = int(y)
x + y

64445

In [3]:
print('Hey Harsh')

Hey Harsh

In [4]:
print("Hey Harsh")

Hey Harsh

In [5]:
print('Hey', 'Harsh')

Hey Harsh

In [6]:
print(1,2,3,4)

1 2 3 4

In [7]:
print(1,2,3,4,sep='*')

1*2*3*4

In [8]:
print(1,2,3,4,sep=' ')

1 2 3 4

In [9]:
print(1,2,3,4,sep='*',end='&')

1*2*3*4&

In [10]:
print(1,2,3,4,sep='😊')

1😊2😊3😊4

In [11]:
print(1,end=' ')
print(2,3)

1 2 3

In [13]:
aa = 11
bb = 'oranges'
print('I want to buy', aa, bb, 'today.')

I want to buy 11 oranges today.

In [14]:
name = "Harsh" 
type_of_company = "private"
print(f"{name} is an {type_of_company} company.")

Harsh is an private company.

before python 3.6

In [15]:
a = 5
b = 6
c = a/b
print('{}/{} is equals to {}'.format(a,b,c))

5/6 is equals to 0.8333333333333334

f-string style after python 3.6

In [16]:
print(f'{a}/{b} is equals to {c}')

5/6 is equals to 0.8333333333333334

In [17]:
print(f'when we divide 10 by 3 we get {10/3:.2f}')

when we divide 10 by 3 we get 3.33